.box {
    margin: auto;
    background-color: #3AA538;
    width: 40%;
}

.textos {
    width: 250px;
    height: 50px;
    margin: 30px;
    margin-bottom: 0px;
    background-color: gray;
}

.calculadora {
    margin: 20px;
}

.calculadora>div {
    display: inline-block;
    margin: 20px 5px;
}

button {
    width: 40px;
}
