
<div class="calculadora">
  <div class="historico">
    <p></p>
  </div>
  <div class="numerais">
    <div>
      <button (click)="getValue($event)" value="1">1</button>
      <button (click)="getValue($event)" value="2">2</button>
      <button (click)="getValue($event)" value="3">3</button>
    </div>
    <div>
      <button (click)="getValue($event)" value="4">4</button>
      <button (click)="getValue($event)" value="5">5</button>
      <button (click)="getValue($event)" value="6">6</button>
    </div>
    <div>
      <button (click)="getValue($event)" value="7">7</button>
      <button (click)="getValue($event)" value="8">8</button>
      <button (click)="getValue($event)" value="9">9</button>
    </div>
    <div>
      <button (click)="getValue($event)" value="0">0</button>
      <button (click)="getValue($event)" value=".">.</button>
      <button (click)="getValue($event)" value="=">=</button>
    </div>
  </div>
  <div class="operacores">
  </div>
</div>

