.box {
    margin: auto;
    background-color: #3AA538;
    width: 265px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.display {
    width: 190px;
    height: 50px;
    margin: 17px;
    margin-bottom: 0px;
    background-color: #EAE5E5;
    text-align: right;
}

.display p {
    margin: 5px;
}

.teclas {
    display: flex;
    margin-left: 10px;
}

.teclas>div {
    display: inline-block;
    margin: 10px 5px;
}

button {
    width: 40px;
}

.zero {
    display: flex;
    justify-content: center;
}

.equal button {
    height: 95px;
    background-color: palevioletred;
}

.teclas .numerais button, .teclas .operacoes button {
    margin: 1.5px;
}
