.box {
    margin: auto;
    background-color: #3AA538;
    width: 40%;
}

.calculadora {
    margin: 20px;
}

.calculadora>div {
    display: inline-block;
    margin: 20px 5px;
}

button {
    width: 40px;
}
